/****************************************/
/*For Entire Website*/
.container{
  max-width: 960px;
  margin: 0 auto;
}
body {
  margin: 0px;
}
html {
  font-size: 18px;
  font-family: Helvetica;
}
/****************************************/
/*For the Image Header*/
header{
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png) no-repeat center center;
  background-size: cover;
  height: 30rem;
  /* padding to get the space on top*/
  padding-top: 16px;
}
/****************************************/
/*For The Blue Header*/
header .container{
    background-color: cadetblue;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/****************************************/
/*For Logo and Heading*/
header .container div{
    display: flex;
    align-items: center;
}
header .container div img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right:1rem;
}
header .container div span{
  font-size: 1rem;
}
/****************************************/
/*For Navigation*/
header ul{
  list-style-type: none;
  /*position: relative;
  bottom: 10px;
  left: 600px;*/
}
header ul li{
  display: inline;
}
header ul li{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container .mobile-nav{
  display: none;
}
/****************************************/
/*For The White Box*/
.container-whitebox{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.container-whitebox .box{
  background-color: white;
  /*height: 100px;*/
  margin-top:10rem;
}
.container-whitebox .box h1{
  color: black;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight:bold;
  font-size: 2rem;
  line-height: 1.2;
  /*margin-bottom: 0px;
  margin-top: 0px;*/
}
/****************************************/
/*for the three pictures of their service*/
.picture-container{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  max-width: 960px;
}
.picture-container .item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}
/****************************************/
/*for the ruler picture*/
.picture-container .item-ruler{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}
.picture-container .item-ruler img{
  width: 5rem;
}
.picture-container .item-ruler span{
  display: flex;
  text-align: center;
}
/****************************************/
/*for the truck and paper picture*/
.picture-container .item-exam .item img{
  margin-left: 35px;
}
.picture-container .item-truck .item img{
  margin-left: 14px;
  /*height: 5rem;*/
}
.picture-container .item img{
  width: 3.5rem;
}
.picture-container .item span{
  display:flex;
  text-align: center;
}
/****************************************/
/*Last Section with Philosophy and Appointments section*/
.info-container{
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0px auto;
  /*border: 1px solid black;*/
}
.title{
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}
.appointments{
  /*margin-left: 5%;*/
  margin-right: 5%;
}
.appointments p{
  width: 100%;
}
.philosophy p{
  width: 50%;
}
.philosophy{
  margin-left: 46px;
}
/****************************************/
/*Footer section*/
footer .container{
  background-color: azure;
  margin-top: 5rem;
  display: flex;
}
footer img{
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
footer span{
  margin-top: 75px;
}
/****************************************/
/* Media Queries Tablet*/
@media only screen and (max-width: 1024px){
  .container{
      max-width: 100%;
      margin-top: -16px;
  }
  /****************************************/
  /*For the Image Header*/
  header{
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png) no-repeat center center;
    background-size: cover;
    height: 22rem;
  }
  /****************************************/
  /*For The White Box*/
  .container-whitebox{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .container-whitebox .box{
    background-color: white;
    margin-top: 5rem;
  }
  .container-whitebox .box h1{
    color: black;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight:bold;
    font-size: 1.33rem;
    line-height: 1.2;
  }
}
/****************************************/
/* Media Queries Mobile Phone*/
@media only screen and (max-width: 470px){
  .container{
      max-width: 100%;
  }
  /****************************************/
  /*For the Image Header*/
  header{
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png) no-repeat center center;
    background-size: cover;
    height: 17rem;
  }
  /****************************************/
  /*For Logo and Heading*/
  header .container div span{
    display: none;
  }
  /****************************************/
  /*For The White Box*/
  .container-whitebox{
    justify-content: center;
  }
  .container-whitebox .box{
    background-color: white;
    margin-top: 9rem;
    width: 100%;
  }
  .container-whitebox .box h1{
    color: black;
    /*padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;*/
    font-weight:bold;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;

  }
  /****************************************/
  /*For Navigation*/
  header ul{
    display: none;
  }
  .container .mobile-nav{
    display: flex;
    margin-top: 5px;
    justify-content: center;
  }
  /****************************************/
  /*for the three pictures of their service*/
  .picture-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }
  .picture-container .item{
    /*margin-top: 3.77rem;*/
    margin: 0px;
  }
  .picture-container .item-ruler{
    margin:0px;
    /*margin-top: 100px;*/
  }
  .picture-container .item-exam{
  padding-bottom: 100px;
}
  .picture-container .item-exam span{
    /*margin-top: 50px;*/
  }
  .picture-container .item-exam .item img{
    margin-left: 19px;
  }
  .picture-container .item-ruler span{
    font-size: 0.77rem;
  }
  .picture-container .item-ruler img{
  }
  .picture-container .item span{
    font-size: 0.77rem;
    /*margin-bottom: 1rem;*/
    /*margin-top: -100px;*/
  }
  .picture-container .item-truck{
    /*margin-top: 100px;*/
  }
/*.picture-container .item-truck img{
    margin-bottom: 400px;
  }*/
  .picture-container .item-truck span{
    /*margin-TIOP: 100px;*/
  }
  /****************************************/
  /*Last Section with Philosophy and Appointments section*/
  .info-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*margin-top: 3rem;*/
  }
  .title{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    width: 100%;
    text-align: center;
  }
  .appointments{
    margin-top: 4rem;
    margin-right: 0%;
  }
  .appointments p{
    width: 100%;
    font-size: 0.77rem;
    margin-left: 10px;
  }
  .philosophy p{
    width: 80%;
    font-size: 0.77rem;
    margin-left: 10px;
  }
  .philosophy{
    margin-left: 0px;
  }
  /****************************************/
  /*Footer section*/
  footer .container{
    background-color: azure;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  footer span{
    display: none;
  }
